#root {
  top: 100px;
  max-width: 1280px;
  margin-top: 100px;
  padding: 2rem;
  text-align: center;
}

.id {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: .5;
}

.cityInput {
  opacity: .5;
}

.title-one {
  color: white;
  font-size: 6ch;
}

.title-two {
  color: white;
  font-size: 4ch;
}

.title-three {
  color: white;
  font-size: 2ch;
}